################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ljusbolagetsyd/obj/Release
/Ljusbolagetsyd/Properties/PublishProfiles
/_ReSharper.Ljusbolagetsyd
/.vs/config
/Ljusbolagetsyd/obj/Debug
/Ljusbolagetsyd/Web.Release.config
/Ljusbolagetsyd/Web.Debug.config
/packages
/.vs/Ljusbolagetsyd/v14
/Ljusbolagetsyd/bin/WebGrease.dll
/Ljusbolagetsyd/bin/System.Web.WebPages.Razor.dll
/Ljusbolagetsyd/bin/System.Web.WebPages.dll
/Ljusbolagetsyd/bin/System.Web.WebPages.Deployment.dll
/Ljusbolagetsyd/bin/System.Web.Routing.dll
/Ljusbolagetsyd/bin/System.Web.Razor.dll
/Ljusbolagetsyd/bin/System.Web.Optimization.dll
/Ljusbolagetsyd/bin/System.Web.Mvc.dll
/Ljusbolagetsyd/bin/System.Web.Helpers.dll
/Ljusbolagetsyd/bin/Newtonsoft.Json.dll
/Ljusbolagetsyd/bin/Microsoft.Web.Infrastructure.dll
/Ljusbolagetsyd/bin/Ljusbolagetsyd.pdb
/Ljusbolagetsyd/bin/Ljusbolagetsyd.dll
/Ljusbolagetsyd/bin/Antlr3.Runtime.pdb
/Ljusbolagetsyd/bin/Antlr3.Runtime.dll
