################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ljusbolagetsyd/obj/Release
/Ljusbolagetsyd/Properties/PublishProfiles
/_ReSharper.Ljusbolagetsyd
/.vs/config
/Ljusbolagetsyd/obj/Debug
/Ljusbolagetsyd/Web.Release.config
/Ljusbolagetsyd/Web.Debug.config
/packages
