@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <div class="about-image">
        <img src="../../Content/Images/Logo/logo2.jpg" alt="Ljusbolaget Syd" />
    </div>
    <hr />
    <p>
        <strong>Ljusbolaget Syd AB</strong>. Som Ni hör på namnet så arbetar vi med ljussättning vid såväl stora som små events. Vi arbetar även med ljud och erbjuder bra teknik till förmånliga priser. Vi har skött ljud och ljus under flera stora evenemang och festivaler.
        Vi vet av erfarenhet att det finns uppgifter som tar mycket tid vid planerandet av events.
    </p>
    <p>
        Ljud och ljus är inte så lätt om man inte har rätt kunnande. Vi kan erbjuda Er att ta hand om detta.
        Bra ljud och ljus är A och O för ett lyckat företagsevent, marknad eller festival. Vi samarbetar med olika typer av föreningar och företag. Vi är ett ungt drivet team med bra erfarenhet.
    </p>
    @Html.ActionLink("Kontakta oss", "Contact", "Home", null, new { @class = "btn btn-primary btn-lg" })
</div>