@{
  ViewBag.Title = "Contact";
}
<h1>Kontakta oss</h1>
<hr />
<div class="row">
  <div class="contact">
    <address class="contact-form">
      <strong>LjusBolaget Syd AB</strong><br />
      Trelleborg
      <br />
      <strong>Telefon:</strong>
      0707-191124
    </address>
    <address>
      <p><strong>Email:</strong> <a href="mailto:info@ljusbolaget.nu">&nbsp;info@ljusbolaget.nu</a></p><br />
    </address>
    <address>
      <p><strong>Fredrik Svensson</strong></p>
      <a href="mailto:fredrik@ljusbolaget.nu">fredrik@ljusbolaget.nu</a>
      <p><em>CEO / Ljustekniker</em></p>
    </address>
    <address>
      <p><strong>Sebastian Fernstedt</strong></p>
      <a href="mailto:sebastian@ljusbolaget.nu">sebastian@ljusbolaget.nu</a>
      <p><em>Ljudtekniker</em></p>
    </address>
    <address>
      <p><strong>Frågor angående Faktura/Betalning</strong></p>
      <a href="mailto:ekonomi@ljusbolaget.nu">ekonomi@ljusbolaget.nu</a>
    </address>
  </div>
</div>