
@{
    ViewBag.Title = "Equipment";
}

<h1>Utrustning</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <div class="equipment">
			<img src="~/Content/Images/Equipment/adadjgej.png" alt="" class="img-responsive" />
            <div class="caption">
                <p>LED</p>
            </div>
        </div>
    </div>
	<div class="col-md-4">
		<div class="equipment">
			<img src="~/Content/Images/Equipment/aegjjiaa.png" class="img-responsive" alt="" />
			<div class="caption">
				<p>Ljusbord</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="equipment">
			<img src="~/Content/Images/Equipment/afiafbce.png" alt="" class="img-responsive" />
			<div class="caption">
				<p>Effekter</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="equipment">
			<img src="~/Content/Images/Equipment/dbcifgbh.png" alt="" class="img-responsive" />
			<div class="caption">
				<p>Rörligt</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="equipment">
			<img src="~/Content/Images/Equipment/dicedhde.png" alt="" class="img-responsive" />
			<div class="caption">
				<p>Rök</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="equipment">
			<img src="~/Content/Images/Equipment/hjghhaed.png" alt="" class="img-responsive" />
			<div class="caption">
				<p>Tross</p>
			</div>
		</div>
	</div>
</div>