@using Ljusbolagetsyd.Data.Dto
@model IEnumerable<GalleryImage>


@{
   ViewBag.Title = "Gallery";
}

<h1>Referenser</h1>
<hr />
<div class="row">
   <ul>
      <li><span class="glyphicon glyphicon-chevron-right"></span>Trelleborgsgalan</li>
      <li><span class="glyphicon glyphicon-chevron-right"></span>Countryfestivalen</li>
      <li><span class="glyphicon glyphicon-chevron-right"></span>Malmö music expo</li>
      <li><span class="glyphicon glyphicon-chevron-right"></span>Trelleborgs isbana</li>
      <li><span class="glyphicon glyphicon-chevron-right"></span>BMX Worldcup Ängelholm</li>
   </ul>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
   <div class="slides"></div>
   <h3 class="title"></h3>
   <a class="prev">‹</a>
   <a class="next">›</a>
   <a class="close">×</a>
   <a class="play-pause"></a>
   <ol class="indicator"></ol>
</div>


<div class="container">
   <div id="links">
      @for (int i = 0; i < Model.Count();)
      {
         <div class="row limit">
            @foreach (GalleryImage galleryimage in Model.Skip(i).Take(3))
            {
               <div class=" col-md-4">
                  <a href="@galleryimage.ImageUrl" title="Ljus">
                     <img src="@galleryimage.ImageUrl" alt="Ljus">
                  </a>
               </div>
               i++;
            }
         </div>
      }
   </div>
</div>