@{
    ViewBag.Title = "Services";
}
<div class="row">
    <h1>Våra tjänster</h1>
    <hr />
</div>
<div class="row services-list">
    <div class="container">
        <h3>Ljus</h3>
        <p><span class="glyphicon glyphicon-arrow-right"></span>Vår specialitet med en flora av olika lösningar anpassade efter storleken på arr:et.</p>
        <h3>Ljud</h3>
        <p>
            <span class="glyphicon glyphicon-arrow-right"></span>Erbjuder en bra ljudbild med rutinerade tekniker och utrustning av högsta standard.
        </p>
        <h3>Marknadsföring</h3>
        <p>
            <span class="glyphicon glyphicon-arrow-right"></span>Vi kan boka upp artister och lägga ut Ert event på hemsidor, sociala medier etc.
        </p>
        <h3>Uthyrning av tält och scener</h3>
        <p>
            <span class="glyphicon glyphicon-arrow-right"></span>Vi kan erbjuda ett stort utbud av passande tält och scener
        </p>
    </div>
</div>
<div class="row">
    <img src="../../Content/Images/Gallery/utomhus.jpg" class="services-img" />
</div>
